body {
  background-color: rgb(252, 182, 182);
  margin: 0;
  padding: 0;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p img {
  width: 50%;
  height: auto;
  animation: poyoyon 1s ease-in-out forwards;
}

#container {
  display: flex;
}

@keyframes poyoyon {
  0% {
    transform: scale(1.0, 1.0) translate(0, 0);
  }

  15% {
    transform: scale(0.98, 0.9) translate(0, 5px);
  }

  30% {
    transform: scale(1.02, 1.0) translate(0, 8px);
  }

  50% {
    transform: scale(0.98, 1.05) translate(0, -8px);
  }

  70% {
    transform: scale(1.0, 0.9) translate(0, 5px);
  }

  100% {
    transform: scale(1.0, 1.0) translate(0, 0);
  }

  0%,
  100% {
    opacity: 1;
  }
}

p {
  text-align: center;
}
div {
  text-align: center;
  justify-content: center;
  margin: 0 15vw;
}


#three {
  font-size: 5vw;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff;
  width: 22vh;
  height: 22vh;
  background-color: #202020;
  border-bottom: 5px solid #505050;
  cursor: pointer;
}

#three:hover {
  margin-top: 3px;
  background: #ff0a0a;
  border-bottom: 2px solid #cca0a0;
}

#four {
  font-size: 5vw;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff;
  margin: 5vw 0 0 2vw;
  width: 22vh;
  height: 22vh;
  background-color: #202020;
  border-bottom: 5px solid #505050;
  cursor: pointer;
}

#four:hover {
  margin-top: 5vw + 3px;
  background: #ff0a0a;
  border-bottom: 2px solid #cca0a0;
}

#five {
  font-size: 5vw;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff;
  margin: 0 0 0 2vw;
  width: 22vh;
  height: 22vh;
  background-color: #202020;
  border-bottom: 5px solid #505050;
  cursor: pointer;
}

#five:hover {
  margin-top: 5vw + 3px;
  background: #ff0a0a;
  border-bottom: 2px solid #cca0a0;
}

#select {
  font-size: 1.6rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;

  height: 5.5vw;
  padding: 0 2vw 0 2vw;
  margin: auto 5vw;
  overflow: hidden;
  color: #fff;
  border-radius: 0;
  background: #000;
}

#select span{
  position: relative;
}

#select:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  transform: translateX(-80%) translateY(-7.5px);
  border-radius: 50%;
  background: #ff0a0a;
}

#select:hover:before {
  width: 450px;
  height: 450px;
  transform: translateX(-1%) translateY(-185px);
}