body {
    justify-content: space-between;
    background-color: rgb(252, 182, 182);
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#back {
    background-color: aqua;
    margin: 0;
}

#container {
    text-align: center;
    align-content: center;
    display: flex;
}

#left_box {
    width: 9vw;
}

#back_btn {
    margin: 5vh 1vw 24vh 1vw;
    background-color: transparent;
    border: none;
    width: 5vw;
    height: 5vw;
}

#back_btn img{
    width: 5vw;
    height: 5vw;
    cursor: pointer;
}

#left_btn {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 7vw;
    height: 7vw;
    margin: 0 1vw 40vh 1vw;
    border: solid 3px #000;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
    cursor: pointer;
}

#left_btn:before {
    content: "";
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 60%;
    width: 2vw;
    height: 2vw;
    border-style: solid;
    border-color: #000;
    border-width: 0 0 5px 5px;
    transform: translate(-50%, -50%) rotate(45deg);
}

#left_btn:hover {
    box-shadow: 5px 5px 10px #000; /* 右に5px・下に5px・ぼかし10pxの黒い影を表示 */
}

#right_btn {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 7vw;
    height: 7vw;
    margin: 40vh 1vw;
    border: solid 3px #000;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
    cursor: pointer;
}

#right_btn:before {
    content: "";
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 40%;
    width: 2vw;
    height: 2vw;
    border-style: solid;
    border-color: #000;
    border-width: 0 0 5px 5px;
    transform: translate(-50%, -50%) rotate(-135deg);
}

#right_btn:hover {
    box-shadow: 5px 5px 10px #000; /* 右に5px・下に5px・ぼかし10pxの黒い影を表示 */
}

button.canvas_btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

button.canvas_btn:hover {
    box-shadow: 5px 5px 10px #000; /* 右に5px・下に5px・ぼかし10pxの黒い影を表示 */
}

#center_box {
    justify-content: space-between;
    width: 80vw;
    margin: 0%;
}

#one_image {
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
}

#one_text {
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

a {
    font-size: 5vh;
    width: 33vh;
    margin-bottom: 3vh;
}

#two_image {
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: space-between;
}

#two_text {
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: space-between;
    height: 5vh;
}