@charset "UTF-8";

html {
    font-size: 16px;
}

body {
    background-color: beige;
}

main {
    text-align: center;
}

#outerContainer {
    display: flex;
    margin:0 50px 50px 150px;
    user-select: none; 
}

.p1 {
    display: block;
    margin: 90px 250px 0 0;
    user-select: none;
}

.p1 img {
    margin: auto;
}

.p2 {
    font: "MS明朝";
    font-size: 32px;
    margin: 0 30px 0 0;
    user-select: none;
}

#rest_count {
    color: #aa3030;
    font: "MS明朝";
    font-size: 48px;
    pointer-events: none;
    user-select: none;
}

.p3 {
    font: "MS明朝";
    font-size: 32px;
    margin: 0 0 0 30px;
    user-select: none;
}

#innerContainer {
    margin: 50px 0 0 0;
    user-select: none;
}

.img img {
    margin: 0 30px 0;
    width: 200px;
    height: auto;
    opacity: 0;
    user-select: none
}

#p2Image img {
    animation: popup 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    animation-delay: 0.2s;
}

#p3Image img {
    animation: popup 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    animation-delay: 0.4s;
}

#p4Image img {
    animation: popup 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    animation-delay: 0.6s;
}

@keyframes popup {
    0% {
        transform: translateY(40px) scale(0.8);
        opacity: 0;
    }
    100% {
        transform: translateY(0) scale(1.0);
    }
    80%, 100% {
        opacity: 1;
    }
}
.button img {
    width: auto;
    height: 150px;
}
button {
    border: none;
    background-color: rgba(0, 0, 0, 0); /* 背景色を透明にする */
    cursor: pointer;
    user-select: none; /* 選択を禁止する */
    margin-top: 70px;
}