@charset "UTF-8";

html {
    font-size: 16px;
}

body {
    margin: 0;
}

#canvasContainer {
    display: flex;
    flex-wrap: wrap;
}

canvas {
    border: 1px solid #ccc;
    margin: 3vw 5vw 0 5vw;
    max-width: 100%;
    box-sizing: border-box;
}

p1 {
    font-size: 3vw;
    margin: 0 0 0 3vw;
    user-select: none;
}

span {
    color: #aa0000;
    font-size: 6vw;
    margin: 2vw 0 0 13vw;
    user-select: none;
}

p2 {
    font-size: 3vw;
    margin: 12vw 10vw 0 0;
    user-select: none;
}

button img {
    width: 5vw;
    margin: 0.5vw 0 0 0.5vw;
    height: auto;
}

button {
    border: none;
    width: 5vw;
    margin: 0.5vw 0 0 0.5vw;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    user-select: none;
}
