@charset "UTF-8";

html {
    font-size: 16px;
}

body {
    background-color: beige;
}

main {
    text-align: center;
}

#outerContainer {
    display: flex;
    user-select: none; 
}

main div .p1 img {
    width: 35vw;
    margin: 6vw 7vw 0 12vw;
    user-select: none;
}

main div button img {
    width: 35vw;
    margin-top: 3.3vw;
}

button {
    border: none;
    background-color: rgba(0, 0, 0, 0); /* 背景色を透明にする */
    cursor: pointer;
    user-select: none; /* 選択を禁止する */
}